springconfig:
  test: this is test,version=2
spring:
  application:
    name: cloud-payment-service
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    url: jdbc:mysql://localhost:3306/test?serverTimezone=UTC&useUnicode=true&characterEncoding=utf-8&useSSL=true
    username: root
    password: 123456
logging:
  level:
    com:
      ylz:
        mapper: debug
eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://eureka71:7001/eureka/,http://eureka72:7002/eureka/
  #暴露监控端口
management:
  endpoints:
    web:
      exposure:
        include: "*"
